.red{background:red;}
body{
    background-color: black;
}
#gameCanvas{
    position:absolute;
}
#loadingPage{
    min-width: 100%;
    min-height: 100%;
    position:absolute;
    left:0px;
    z-index:1;
    background-color: #000000;
    color: #fff;
    text-align: center;
    vertical-align: middle;
}
#loadingPercent{
    position:absolute;
    min-width: 100%;
    min-height: 100%;
    top:calc(50%);
}